/*Generales*/

*{
    margin: 0;
    padding: 0;
}
/*Tipografias*/
.titulo1{
    font-size: 30pt;
    font-family: 'Ramaraja', serif;
    font-weight:600;
}
.titulo2{
    font-size: 25pt;
    font-family: 'Ramaraja', serif;
    font-weight:500;
}
.text1{
    font-size: 16px;
    font-family: 'Ramaraja', serif;
}
.text2{
    font-size: 20px;
    font-family: 'Ramaraja', serif;
}
.text3{
    font-size: 24px;
    font-family: 'Ramaraja', serif;
}

/*Header*/

header>img{ /*Cambiado*/
    float: left;
    height: 40%;
    width: 20%;
    margin: 1% 36%;
    position: static;
}

header{ /*Cambiado*/
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 9;
}


/* Listas en general*/

nav ul{
    margin-top: 20px;
    font-family: 'Ramaraja', serif;
    list-style-type: none;
    position: static;
    overflow: hidden;
    padding: 0%;
    
}

nav li{

    font-family: 'Ramaraja', serif;
    line-height: 2.5em;
}

nav a{
    font-family: 'Ramaraja', serif;
    color: #ddd;
    display: block;
    text-decoration: none;
}
nav .btn-header a:hover{
    box-shadow: inset 0 0 30px #00a19c;
    border-radius: 10px;
    transition: .4s;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
nav .disabled a:hover{
    color: white;
}
.active{
    color: white;
    font-size:14pt ;
    border-bottom:solid #00a19c;
}
.principal-header>.btn-header{
    margin-left: 4%;
}

/*Primer nivel lista */

nav>ul{
    font-family: 'Ramaraja', serif;
    width: 100%;
    padding: 0%;
}

nav>ul>li{
    font-family: 'Ramaraja', serif;
    float: left;
    width: 20%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .1em;
    font-size: 17pt;
}

ul li a{
    font-family: 'Ramaraja', serif;
    text-align: center;

}
li>a>img{
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
}

#slider img{
    height: 50%;
    width: 100%;
    line-height: 0%;
}

/* Pilotos y GP*/

.contenedores section{
    border: 10px solid grey;
    width: 77%;
    float: left;
}

.contenedores section article{
    background-color: #c6c6c6;
    padding: 5px;
    overflow: hidden;
    text-align: center;
}

.contenedores section article img{
    width: 73%;
    padding-top: 1.3%;
    position: static;
    margin: 3px;
    float: left;
}

.contenedores section article ul{
    list-style-position: inside;
    text-align: center;
    list-style-image: url(/img/lista.svg);

}

.contenedores aside{
    width: 23%;
    background-color: #111111;
    padding: 10px;
    float: left;
    color: white;
}

.contenedores aside h2{
    text-align: center;
}

.contenedores aside img{
    border: 1px solid white;
    width: 55%;
    height: 50%;
    margin-left: 22%;
}

.contenedores aside img:hover{
    transform:scale(1.1);   
    transition: .3s;
}

.contenedores aside p{
    text-align: center;
}

.contenedores aside hr{
    border: 1px solid white; 
    height: 2px; 
}
.contenedores article hr{
    border: 1px solid black; 
    height: 2px; 

}

/* Merch y W13*/

.contenedores2 aside{
    width: 23%;
    float: right;
    color: white;
    position: static;
}
.contenedores2 aside img{
    width: 69%;
}

.contenedores2 section{
    border: 9px solid grey;
    padding-top: 10%;
    width: 77%;
    height: 50%;
}

.contenedores2 section article{
    background-color: #c6c6c6;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    position: static;
}

.contenedores2 section article img{
    width: 50.50%;
    float: right;
}


.contenedores3 section{
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 72%;
    overflow: hidden;
    float: left;
}

.contenedores3 section article{
    background-color: #c6c6c6;
    padding-top: 5px;
    overflow: hidden;
    text-align: center;
}

.contenedores3 aside{
    width: 28%;
    border: 10px solid #c6c6c6;
    float: left;
    color: white;
    text-align: center;
    position: static;
}

.contenedores3 aside article{
        overflow: hidden;
        background-color: #111111;
}

.contenedores3 aside img{
float: left;
   width: 100%;
   height: 359px;
}
/* Galeria de Imagenes*/

#galeria{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.863);
    border-top: 2px solid rgba(192, 192, 192, 0.719);
    color: white;
}

.contenedor{
    width: 50%;
    height: 50%;
    border: 2px solid rgba(192, 192, 192, 0.719);
    float: right;
}

#as img{
    width: 50%;
    height: 50%;
    border: 2px solid rgba(192, 192, 192, 0.719);
    float: left;
}

#galeria6{
    width: 100%;
}

.contenedor2{
    width: 50%;
    height: 50%;
    border: 2px solid rgba(192, 192, 192, 0.719);
    float: left;
}

#asi img{
    width: 50%;
    height: 50%;
    border: 2px solid rgba(192, 192, 192, 0.719);
    float: right;
}

/*Contacto*/
.contactocaja{
    width: 80%;
    height: auto;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius:10px;
    background: white;
    box-shadow: 0px 0px 30px 0px;
    background-color: #00A19C;
    margin-top: 2%;
}

.contactomapa{
    width:100%;
    height:auto;
    flex: 50%;
}

.contactomapa iframe{
    width: 500px;
    height: 480px;
    padding-top: 10px;
    border-radius:20px;
   
}

.contactoforma{
    width:100%;
    height: auto;
    flex: 50%;
    padding:30px ;
    border-radius: 10px;
    
}

.contactoforma h1{
    margin-bottom: 10px;
    text-align: center;
}

.contactonombre{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    outline:none;
    margin-bottom:20px ;
    padding:15px ;
}

.contactomensaje{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    outline:none;
    margin-bottom:20px ;
    padding:15px ;
    font-family: 'Lucida Sans';
}

.contactoboton{
    width: 40%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color:#bcbcbc;
    color:black;
    padding:10px;
    margin-left: 140px;
    cursor: pointer;
    font-family:Arial;

}

.contactoboton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 13px;
}
/**************************************************************/
/*                                                            */
/**        ABOUTUS      aboutUS     A BOUTUS                 **/
/*                                                            */
/**************************************************************/

.container-aboutUs1{
    background-image: url("../img/merc_inicio4.jpg");
    background-position: 50% 50%;
    width: 100%;
    height:500px;
    padding-top: 15%;
}

.container-aboutUs1>.description{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, .8);
}

.container-info{
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.container-info>h5{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.container-info>.container-info-elements{
    display: flex;
    width: 100%;
}
.container-info>.container-info-elements>.container-info-element{
    width: 40%;
    margin-left: 6.66%;
    text-align: center;
}
.container-info-elements>.container-info-element:hover{
    transform:scale(1.1);   
    transition: .3s;
}
.container-info>.container-info-elements>.container-info-element>img{
width: 100%;
}

/*Creadores*/
.container-creadores>img{
    width: 50%;
}


/**************************************************************/
/*                                                            */
/**           FOOTER      footer     FOOTER                 **/
/*                                                            */
/**************************************************************/
footer{
    width: 100%;
    background-color: #111111;
    padding: 0%;
}
.foot-navegation{
    width: 100%;
    padding-top: 0.5%;
    background-color: #141517;
    border-bottom: 2px white solid;
    float:left;
}
    .footer-nav{
        font-size: 12pt;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Titillium Web', sans-serif;
        list-style-type: none;
        padding: 0%;
        display: flex;
    }
    .footer-nav-element{
        width: 20%;
        text-align: center;
        padding-top: 0.3%;
        padding-bottom: 0.3%;
        margin-left: 4%;
        color: white;
    }
    .footer-nav-element>a{
        font-size: 12pt;
        font-family: 'Ramaraja', serif;
        color: #ddd;
        display: block;
        text-decoration: none;
        font-size: 14pt;
    }
    .footer-nav-element>a:hover{
        font-size: 13pt;
        font-weight: bold;
        text-shadow: 10px 5px 10px #80142B;
        transition: .4s;
        color: white;
    }
.foot-content{
    width: 100%;
    display: flex;
}
    .foot-content-element{
        width: 33.33%;
        padding-top: 5%;
        padding: 2%;
        text-align: center;
        color: white;
    }
    .foot-content-element>ul{
        list-style: none;
        text-decoration: none;
        font-size: 16pt;
    }
    .foot-content-element>img{
        width: 50%;
    }
    .foot-content-element>h3{
        color: #c6c6c6;
    }
    .foot-content-element>a{
        font-family: 'Ramaraja', serif;
        color: #ddd;
        display: block;
        text-decoration: none;
        font-size: 16pt;
    }
    .foot-content-element>a:hover{
        font-size: 15pt;
        font-weight: bold;
        text-shadow: 10px 5px 10px #80142B;
        color: white;
        transition: .4s;
    }
.foot{
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    background-color: #80142B; /*#00A19C*/
    color: white;
    font-style:oblique ;
    font-size: 12pt;
    text-align: center;
}
